<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Hello Thymeleaf!</title>
</head>
<body>
<!--/*@thymesVar id="users" type="java.util.List<String>"*/-->

<form method="post">
    <input name="user"/>
    <input type="submit" value="Submit"/>
</form>

<ul th:each="user : ${users}">
    <a th:href="@{'wall/' + ${user}}">
        <li th:text="${user}"></li>
    </a>
</ul>
</body>
</html>