<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Hello Thymeleaf!</title>
</head>
<body>
<form method="post">
    <input name="message" />
    <input type="submit" name="Submit" />
</form>

<!--/*@thymesVar id="posts" type="java.util.List"*/-->
<ul th:each="post : ${posts}">
    <li th:text="${post}"></li>
</ul>
<a th:href="@{'/'}">Back to Home</a>
</body>
</html>